---
layout: home
isHome: true
---

<div class="home">

  <h1 class="page-heading">Lessons</h1>

  {% for lesson in site.data.lessons %}
    <h3><a href="lessons/{{lesson.number}}">Lesson {{ lesson.number }}: {{ lesson.description }}</a></h3>
    {% for step in site.lessons %}
      {% if step.stepNumber and step.lessonNumber == lesson.number %}
        <p><a href="lessons/{{step.lessonNumber}}/{{step.stepNumber}}/">{{step.stepNumber}} | {{step.description}}</a></p>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>