---
---

@import "{{ site.theme }}";

.page-header {
  @include large {
    padding: 2rem 3rem;
  }

  @include medium {
    padding: 1rem 2rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

img {
  border: 1px solid #ccc;
}

.sandbox-element {
  border: 1px solid #f99;
  text-align: center;
}