---
layout: default
---
<body>
  <header class="page-header" role="banner">
    {% assign lesson = site.data.lessons | where: "number", page.lessonNumber | first %}
    <h1 class="lesson-name">Lesson {{ page.lessonNumber }}: {{ lesson.description }}</h1>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    {% for step in site.lessons %}
      {% if step.stepNumber and step.lessonNumber == page.lessonNumber %}
        <p><a href="lessons/{{step.lessonNumber}}/{{step.stepNumber}}/">{{step.stepNumber}} | {{step.description}}</a></p>
      {% endif %}
    {% endfor %}

    <footer class="site-footer">
      ...
    </footer>
  </main>
</body>
